<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Mass Twitter Follower</title>
    <!-- <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' /> -->
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <p>Made by <a href='worldofartifact.com' target='_blank'>World of Artifact</a> for <a href='https://twitter.com/RaiseTheAgeNY' target='_blank'>RaiseTheAgeNY</a> action in the <a href='http://www.injusticeboycott.com/' target='_blank'>The Injustice Boycott</a></p>
    <%= yield %>
  </body>
</html>